@{
    ViewData["Title"] = "Bibliothère LIPAJOLI";
}


<div class="jumbotron text-center">
    <h1>Bibliothèque LIPAJOLI</h1>
</div>
<div class="row">
    <div class="text-center">
        <h2>Bienvenue</h2>
        <div class="text-center">
            <p>
                La bibliothèque LIPAJOLI est une bibliothèque destinée aux étudiant.e.s et enseignant.e.s du Cégep Limoilou. Sélectionnez une des options au haut de l'écran pour accéder à la liste d'usagers, de livres et d'emprunts de la bibliothèque pour accéder aux informations. 
            </p>
         </div>           
        </div> 
    
</div>
