@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>

<p>La bibliothèque LIPAJOLI est propriétaire des informations contenues dans sa base de données et s'engage à ne pas partager ces informations avec des tiers payeurs ou non. Pour toute demande d'information concernant la gestion des vos données, n'hésitez pas à contacter notre webmestre.</p>
