@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Oups!</h1>
<h2 class="text-danger">Une erreur est survenue lors de l'analyse de votre requête.</h2>

<a asp-action="Index">Retour à la page précédente</a>


