@model Bibliotheque.MVC.Models.Livre

@{
    //si les ISBN sont deja dans la BD, on renvoie la view avec les auteurs ajoutés au Livre
    //on veut garder les auteurs que l'utilisateur a déjà sélectionné cochés dans les checkbox
    var listeAuteursDuLive = new List<string>();
    if (Model != null)
    {
        if (Model.Auteurs != null)
        {
            listeAuteursDuLive = Model.Auteurs.Split(", ").ToList();
        }

    }
}

@{
    ViewData["Title"] = "Livre - Nouveau";
}

<h1>Ajouter un livre</h1>

<h4>Livre</h4>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isbn10" class="control-label"></label>
                <input asp-for="Isbn10" class="form-control" />
                <span asp-validation-for="Isbn10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn13" class="control-label"></label>
                <input asp-for="Isbn13" class="form-control" />
                <span asp-validation-for="Isbn13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" placeholder="12.34"/>
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                @Html.DropDownListFor(model => model.Categorie, new SelectList(ViewBag.Categories), "Choisir une catégorie", new { @class = "form-control" })
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label asp-for="Auteurs"></label>
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<string> auteurs = ViewBag.Auteurs;

                        foreach (var auteur in auteurs)
                        {
                            if (cnt++ % 3 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <input type="checkbox"
                                       name="auteursSelectiones"
                                       value="@auteur"
                                       @(Html.Raw(listeAuteursDuLive.Contains(auteur) ? "checked=\"checked\"" : "")) />
                                @auteur
                            @:</td>
                        }
                    @:</tr>
                    }
                </table>
            </div>
            <span asp-validation-for="Auteurs" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Ajouter" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Retour à la liste de livres</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
